version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    command: ["--bind_ip_all"]
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - D:/docker-volums/db:/data/db
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - D:/docker-volums/data:/data
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - D:/docker-volums/rabbitmq:/var/lib/rabbitmq
    networks:
      - app-network

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - D:/docker-volums/data:/data
    networks:
      - app-network
    
  # ollama:
  #     image: ollama/ollama:latest
  #     container_name: ollama
  #     ports:
  #       - "11434:11434"
  #     volumes:
  #       - D:/docker-volums/ollama:/root/.ollama
  #     # This "entrypoint" starts the server, waits for it, then pulls the model
  #     entrypoint: >
  #       /bin/sh -c "
  #       /bin/ollama serve & 
  #       sleep 5;
  #       /bin/ollama pull llama3.2;
  #       wait"
  #     deploy:
  #       resources:
  #         reservations:
  #           devices:
  #             - driver: nvidia
  #               count: all
  #               capabilities: [gpu]
  #     networks:
  #       - app-network

  app:
    build: .
    container_name: go-orc-v2
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: 8080
      MONGODB_URI: mongodb://admin:password@mongodb:27017
      MONGODB_DATABASE: nimbus_db
      REDIS_HOST: redis
      REDIS_PORT: 6379
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    depends_on:
      - mongodb
      - redis
      - rabbitmq
      - minio
    networks:
      - app-network

volumes:
  mongodb_data:
  redis_data:
  rabbitmq_data:
  minio_data:

networks:
  app-network:
    driver: bridge