@if (loadingService.isLoading()) {
<div class="loader-overlay">
  <div class="loader-content">
    <div class="scanner-box">
      <div class="inner-grid"></div>
      <div class="scan-line"></div>
    </div>

    <div class="flex items-center justify-center space-x-2">
      <div class="w-3 h-3 bg-indigo-600 rounded-full animate-bounce [animation-delay:-0.3s]"></div>
      <div class="w-3 h-3 bg-indigo-600 rounded-full animate-bounce [animation-delay:-0.15s]"></div>
      <div class="w-3 h-3 bg-indigo-600 rounded-full animate-bounce"></div>
    </div>
  </div>
</div>
}