<div class="pl-6 pb-3 relative">
  <div class="absolute left-3 top-0 bottom-4 w-px bg-slate-200"></div>
  @for (step of workflowData; track $index) {
  <ng-container *ngTemplateOutlet="logicFlowEditor; context:{node:step}"></ng-container>
  }
  <button class="mt-3 ml-2 text-[11px] font-bold text-indigo-500 hover:text-indigo-700 flex items-center gap-1">
    <i class="fas fa-plus-circle"></i> Add Step
  </button>
</div>


<ng-template #logicFlowEditor let-node="node">
  @if (node.type == 'start') {
  <div class="relative mt-3 pr-3">
    <div class="absolute -left-3 top-5 w-3 h-px bg-slate-200"></div>

    <div
      class="flex items-center gap-3 p-2 bg-slate-50/50 border border-slate-200 rounded-lg hover:border-indigo-300 transition-colors">
      <i class="fas fa-play text-slate-400 text-xs"></i>
      <span class="text-sm text-slate-700 font-medium">Start Workflow</span>
    </div>
  </div>
  @for (item of node.children; track $index) {
  <ng-component *ngTemplateOutlet="logicFlowEditor; context:{node:item}"></ng-component>
  }
  } @else if (node.type == 'end') {
  <div class="relative mt-3 pr-3">
    <div class="absolute -left-3 top-5 w-3 h-px bg-slate-200"></div>

    <div
      class="flex items-center gap-3 p-2 bg-slate-50/50 border border-slate-200 rounded-lg hover:border-indigo-300 transition-colors">
      <i class="fas fa-flag-checkered text-slate-400 text-xs"></i>
      <span class="text-sm text-slate-700 font-medium">End Workflow</span>
    </div>
  </div>
  } @else if(node.type == 'assignment') {
  <div class="relative mt-3 pr-3">
    <div class="absolute -left-3 top-5 w-3 h-px bg-slate-200"></div>

    <div
      class="flex items-center gap-3 p-2 bg-slate-50/50 border border-slate-200 rounded-lg hover:border-indigo-300 transition-colors">
      <i class="fas fa-equals text-slate-400 text-xs"></i>
      <span class="text-sm text-slate-700 font-medium">Assignment Step</span>
    </div>
  </div>
  } @else if(node.type == 'condition') {
  <div class="relative mt-3 pr-3">
    <div class="absolute -left-3 top-5 w-3 h-px bg-slate-200"></div>

    <div
      class="flex items-center gap-3 p-2 bg-slate-50/50 border border-slate-200 rounded-lg hover:border-indigo-300 transition-colors">
      <i class="fas fa-code-branch text-slate-400 text-xs"></i>
      <span class="text-sm text-slate-700 font-medium">Condition Step</span>
    </div>
  </div>
  @for (item of node.children; track $index) {

  <div class="pl-6">
    <div class="w-px bg-slate-200"></div>
    <ng-component *ngTemplateOutlet="logicFlowEditor; context:{node:item}"></ng-component>
  </div>
  }
  }
</ng-template>