<div class="flex w-full items-start justify-between space-x-10">
    <div class="max-w-md">
        <app-label [required]="true" for="type">
            Select {{ type | uppercase }} Simulation Type
        </app-label>
        <app-select [options]="option" id="type" (valueChange)="setSimulationAttribute($event)"></app-select>
    </div>
    <div class="flex-1 space-y-6">
        <!--Simulation Attribute Tab-->
        <div>
            <h3 class="mb-4 font-semibold text-gray-800 text-theme-lg dark:text-white/90 sm:text-xl">
                {{ type | uppercase }} Simulation Attributes
            </h3>
            <!--Attributes Form-->
            <div class="space-y-6">
                <!--Dynamic attributes based on selected simulation type will go here-->
                <p class="text-gray-600 dark:text-white/80">
                    Simulating {{ name | uppercase }} with, Version: {{ version }}, Minor Version: {{ minorVersion }}
                </p>
            </div>
        </div>
    </div>
</div>
<hr class="my-6 border-gray-200 dark:border-gray-800" />
<!--2 pannel divided right pannel will have 2 tabs-->
<form class="flex w-full space-y-6" [formGroup]="formGroup">
    <div class="flex-2 space-y-5">
        <app-button variant="secondary" class="mb-4 mr-2" (btnClick)="formGroup.get('request')?.setValue({})">
            Clear Input <i class="fa-solid fa-trash-can ml-2"></i>
        </app-button>
        <app-button variant="secondary" class="mb-4 mr-2" (btnClick)="loadSameJSON()">
            Load Sample Input <i class="fa-solid fa-file-import ml-2"></i>
        </app-button>
        <app-button variant="secondary" class="mb-4 mr-2">
            Upload Input File <i class="fa-solid fa-upload ml-2"></i>
        </app-button>

        <div class="text-gray-600 dark:text-white/80 mt-8">
            <b>Input</b>
        </div>
        <json-editor #request [options]="editorOptions"  formControlName="request"></json-editor>

    </div>
    <div class="flex-1 flex flex-col items-center mt-20 space-y-2">
        <app-button variant="primary" class="w-32" (btnClick)="runSimulation()">
            Run <i class="fa-solid fa-play ml-2"></i>
        </app-button>
        <hr class="w-full border-gray-200 dark:border-gray-800" />
        <div class="text-gray-600 dark:text-white/80 mt-8">
            <b>Execution Details</b>
            <p>Time Taken: -- ms</p>
            <p>Status: -- </p>
        </div>
    </div>
    <div class="flex-2 space-y-5">
        <app-button variant="secondary" class="mb-4 mr-2" (btnClick)="responseJson = {}">
            Clear Output <i class="fa-solid fa-trash-can ml-2"></i>
        </app-button>
        <app-button variant="secondary" class="mb-4 mr-2">
            Download Output <i class="fa-solid fa-download ml-2"></i>
        </app-button>
        <app-button variant="secondary" class="mb-4 mr-2">
            View Logs <i class="fa-solid fa-file-lines ml-2"></i>
        </app-button>
        <div class="text-gray-600 dark:text-white/80 mt-8">
            <b>Response Output</b>
        </div>
        <json-editor #response [options]="respEditorOptions" formControlName="response"></json-editor>
    </div>
</form>