version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    command: ["--bind_ip_all"]
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - app-network

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - app-network

  app:
    build:
      context: ./core
      dockerfile: ./Dockerfile
    container_name: go-orc-v2
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: 8080
      SERVER_ENV: development
      MONGODB_URI: mongodb://admin:password@mongodb:27017
      MONGODB_DATABASE: nimbus_db
      MONGODB_USERNAME: admin
      MONGODB_PASSWORD: password
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD:
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      RABBITMQ_EXCHANGE: nimbus_exchange
      RABBITMQ_QUEUE: nimbus_queue
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: uploads
      ZEN_RULES_PATH: ./rules
      JWT_TOKEN: HJKLHJKHJKSHDAJKHAKJDSHKAJHDKHWEQLIRJHQIRJUYCIUZXYC
      PYTHON_WORKER: http://127.0.0.1:5005
    depends_on:
      - mongodb
      - redis
      - rabbitmq
      - minio
    networks:
      - app-network
  e4:
    build:
      context: ./e4
      dockerfile: ./Dockerfile
    container_name: go-e4
    ports:
      - "8081:8081"
    environment:
      SERVER_PORT: 8081
      SERVER_ENV: development
      MONGODB_URI: mongodb://admin:password@mongodb:27017
      MONGODB_DATABASE: nimbus_db
      MONGODB_USERNAME: admin
      MONGODB_PASSWORD: password
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD:
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      RABBITMQ_EXCHANGE: nimbus_exchange
      RABBITMQ_QUEUE: nimbus_queue
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: uploads
      ZEN_RULES_PATH: ./rules
      JWT_TOKEN: HJKLHJKHJKSHDAJKHAKJDSHKAJHDKHWEQLIRJHQIRJUYCIUZXYC
      PYTHON_WORKER: http://127.0.0.1:5005
    depends_on:
      - mongodb
      - redis
      - rabbitmq
      - minio
    networks:
      - app-network
  notification:
    build:
      context: ./notification
      dockerfile: ./Dockerfile
    container_name: go-notification
    ports:
      - "8082:8082"
    environment:
      SERVER_PORT: 8082
      SERVER_ENV: development
      MONGODB_URI: mongodb://admin:password@mongodb:27017
      MONGODB_DATABASE: nimbus_db
      MONGODB_USERNAME: admin
      MONGODB_PASSWORD: password
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD:
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      RABBITMQ_EXCHANGE: nimbus_exchange
      RABBITMQ_QUEUE: nimbus_queue
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: uploads
      ZEN_RULES_PATH: ./rules
      JWT_TOKEN: HJKLHJKHJKSHDAJKHAKJDSHKAJHDKHWEQLIRJHQIRJUYCIUZXYC
      PYTHON_WORKER: http://127.0.0.1:5005
    depends_on:
      - mongodb
      - redis
      - rabbitmq
      - minio
    networks:
      - app-network

volumes:
  mongodb_data:
  redis_data:
  rabbitmq_data:
  minio_data:

networks:
  app-network:
    driver: bridge